<mat-toolbar color="accent">
  <span>
    <a mat-button routerLink="/">MCMS</a>
  </span>
  <span class="toolbar-middle">
    <a mat-button routerLink="/search">Search</a>
    <a mat-button routerLink="/browse">Browse</a>
  </span>
  <span>
    <app-theme-selector></app-theme-selector>
    <app-sign-in-button (userFabClicked)="loggedInFabClicked()"></app-sign-in-button>
    <ng-template #loggedInMenu>
      <app-signed-in-menu (logoutClicked)="logoutClicked()" [username]="this.userData?.name"></app-signed-in-menu>
    </ng-template>
  </span>
</mat-toolbar>
