<div class="app-container" [class.loading]="routeLoading">
  <app-navbar></app-navbar>
  <mat-progress-bar mode="indeterminate" color="primary" class="loading-indicator">
  </mat-progress-bar>
  <div>
    <button *ngIf="!isAuthenticated" (click)="login()">Login</button>
    <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>

    <hr />

    Is Authenticated: {{ isAuthenticated }}

    <br />
    <br />

    {{ userData | json }}
  </div>
  <div class="route-container">
    <router-outlet></router-outlet>
  </div>
</div>
