.closed-node {
  display: none;
}

.mat-tree-node {
  min-height: 0;
}

.nested-node {
  margin-left: 1rem;
}

.mat-icon-button mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

button[mat-icon-button] {
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.progress-loading-spinner-container {
  font-size: 18px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-element-header {
  margin-right: 3px;
}

.package-selector {
  cursor: pointer;
}

