<div class="home-container" style="display: block; margin-left: 30px">
  <app-global-search-box></app-global-search-box>
  <!--  <app-game-versions-selector (selectGameVersion)="selectGameVersion($event)">-->
  <!--  </app-game-versions-selector>-->

  <form [formGroup]="selectionFormGroup">
    <mat-form-field>
      <mat-label>Game version</mat-label>
      <mat-select formControlName="gameVersion">
        <mat-option [value]="gv" *ngFor="let gv of gameVersions">
          {{ gv.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mapping Type</mat-label>
      <mat-select formControlName="mappingType">
        <mat-option [value]="mt" *ngFor="let mt of mappingTypes">
          {{ mt.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="mat-elevation-z8 table-container">
    <div class="table-loader" *ngIf="mappingsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="header">
      <div class="header-left mat-caption">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input type="text" matInput [formControl]="searchControl">
        </mat-form-field>
      </div>
      <mat-paginator [length]="mappingsTotalCount" [pageSize]="10" [disabled]="matPaginatorDisabled"
                     [pageSizeOptions]="[10, 25, 50]">
      </mat-paginator>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="mappings" matSort matSortActive="input" matSortDirection="asc">
        <ng-container matColumnDef="input">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Input</th>
          <td mat-cell *matCellDef="let element">{{ element.input }}</td>
        </ng-container>
        <ng-container matColumnDef="output">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Output</th>
          <td mat-cell *matCellDef="let element">{{ element.output }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['input', 'output']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['input', 'output']"></tr>
      </table>
    </div>
  </div>
</div>
