<div class="home-container" style="display: block; margin-left: 30px">
  <app-global-search-box></app-global-search-box>
  <app-game-versions-selector (selectGameVersion)="selectGameVersion($event)">
  </app-game-versions-selector>
  <div class="wrapper">
    <app-package-tree [tree]="packageTree" *ngIf="packageTree != null" (packageSelected)="selectPackage($event)">
    </app-package-tree>
    <div class="class-list">
      <ul *ngIf="!classesLoading">
        <li *ngFor="let cls of classes">{{ cls }}</li>
      </ul>
      <app-loading-spinner *ngIf="classesLoading"></app-loading-spinner>
    </div>
  </div>
</div>
